<div>
    <div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date Of <br> Birth</th>
                <th scope="col">Phone</th>
                <th scope="col">Skill Name</th>
                <th scope="col">Skill Level</th>
                <th scope="col">Experience</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{emp.firstName}} &nbsp; {{emp.lastName}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.dateOfBirth | date}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.skillName}}</td>
                <td>{{emp.skillLevel}}</td>
                <td>{{emp.experience}}</td>
                <td>
                    <button (click)="eidt(emp)" type="button" class="btn btn-info">Edit</button>&nbsp;
                    <button (click)="delete(emp)" type="button" class="btn btn-danger" 
                        style="color:#000000">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>